body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F4EA;
}

a {
  color: #00B7FF;
}

.container-fluid ul {
  display: inline;
}
.panel-footer {
  background-color: black;
  color: grey;
  text-align: center;
}
.archive {
  background-color: #d3d3d3;
}
.panel-heading {
  text-align: center;
  font-size: 40px;
}
.panel-default {
  width: 100%;
}
.image {
  background-image: url("../images/pexels-photo-1098735.jpg");
  height: 500px;
  background-size: cover;
}
.panel-body {
    padding: 50px;
}
.navbar-inverse {
    background-color: #80A1D4;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: white;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #80A1D4;
    border-color: #80A1D4;
}
.panel-footer {
    background-color: #80A1D4;
    color: white;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #80A1D4;
    border-color: #007bff;
}
.col-lg-6 {
    height: 157%;
}
.panel-body.col-lg-6 {
    font-size: 30px;
}
h1.titel {
    color: black;
}
